<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5K8zZg_-feQIPzR7pqXtLww49OHYR9e4</string>
	<key>GCM_SENDER_ID</key>
	<string>418002180543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebasetest-97361</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebasetest-97361.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418002180543:ios:8d7179e76180b7091aa90a</string>
</dict>
</plist>